/.idea/

/unison.exe
/unison-fsmonitor.exe
*.unison.tmp

/tools/docker-tools/tmp/

/source/.bash_history
/source/.composer/
/source/.config/
/source/.mysql_history
/source/.nano/
/source/.npm/
/source/.rediscli_history
/source/.selected_editor
/source/.sudo_as_admin_successful
/source/.unison/
/source/.viminfo
/source/dead.letter
/source/docker-config/
/source/dumps/
/source/html/
/source/m-devbox-tools/
/source/public_html/
/source/supervisord.log
/source/platform-tools
source/package-lock.json
source/.bashrc

/sysdumps/*
!/sysdumps/tmp

/configs/nginx-reversproxy/default/conf.d/
/configs/mysql/db/data/
/configs/nginx/conf/website.conf
/configs/nginx/magento/conf/website.conf
/configs/nginx/akeneo/conf/website.conf
/configs/docker-compose-mailhog-portainer/var/
/configs/nginx-reversproxy/conf.d/website-http-proxy.conf
/configs/docker-compose-nginx-proxy/conf.d/website-https-proxy.conf.disabled
/configs/var
/configs/nginx-reversproxy/default/conf.d/website-http-proxy.conf
/configs/nginx-reversproxy/default/conf.d/website-https-proxy.conf.disabled
/configs/nginx-reversproxy/run/
/configs/nginx-reversproxy/mysql/conf.d/*
!/configs/nginx-reversproxy/mysql/conf.d/*.pattern

/configs/exim4/config/exim4/mail.website.com.key

/vendor/
/projects/
!/projects/info.txt
composer.lock
source/supervisord.pid
