version: '2'
services:
    web:
        image: ${CONTAINER_WEB_IMAGE}${PHP_VERSION}
        container_name: ${PROJECT_NAME}_${CONTAINER_WEB_NAME}
        environment:
          - USE_UNISON_SYNC=${USE_UNISON_SYNC}
        ports:
          - "${MACHINE_IP_ADDRESS}:{{nginx_port_dynamic}}:{{nginx_port_inner}}"
          - "{{unison_port_dynamic}}:{{unison_port_inner}}"
          - "{{ssh_port_dynamic}}:{{ssh_port_inner}}"
        volumes:
          - ./configs/nginx/${CONFIGS_PROVIDER_NGINX}/conf:/etc/nginx/conf.d
          - ./configs/php/${CONFIGS_PROVIDER_PHP}/ini/xdebug.ini:/etc/php/${PHP_VERSION}/mods-available/xdebug.ini
          - ./configs/php/${CONFIGS_PROVIDER_PHP}/ini/xdebug.ini:/etc/php/${PHP_VERSION}/cli/conf.d/xdebug.ini
          - ./configs/php/${CONFIGS_PROVIDER_PHP}/ini/zzz-custom.ini:/etc/php/${PHP_VERSION}/mods-available/zzz-custom.ini
          - ./../.env:/var/www/docker-config/.env
          - ./../.env-project.json:${PROJECT_CONFIGURATION_FILE}
          - ./../sysdumps/node_modules:/var/www/node_modules_remote
          - ./../src:/var/www/src
          - ./../../../${TOOLS_PROVIDER}:${TOOLS_PROVIDER_REMOTE_PATH}
          - ./../public_html/.git:${WEBSITE_DOCUMENT_ROOT}/.git
          - ./../../../configs/nginx-reversproxy/${CONFIGS_PROVIDER_NGINX_PROXY}/ssl:/etc/nginx/ssl
        networks:
          - docker_projectsubnetwork

    db:
        image: mysql:${CONTAINER_MYSQL_VERSION}
        container_name: ${PROJECT_NAME}_${CONTAINER_MYSQL_NAME}
        ports:
          - "{{mysql_port_dynamic}}:{{mysql_port_inner}}"
        environment:
          - MYSQL_ROOT_PASSWORD=${CONTAINER_MYSQL_ROOT_PASS}
          - MYSQL_DATABASE=${CONTAINER_MYSQL_DB_NAME}
        volumes:
          - ./configs/mysql/${CONFIGS_PROVIDER_MYSQL}/db/conf.d/custom.cnf:/etc/mysql/conf.d/custom.cnf
        networks:
          - docker_projectsubnetwork
        restart: on-failure


    varnish:
         image: madebyewave/varnish:4.1
         container_name: ${PROJECT_NAME}_${CONTAINER_VARNISH_NAME}
         restart: always
         ports:
           - "{{varnish_port_dynamic}}:{{varnish_port_inner}}"
         links:
           - web:${WEBSITE_HOST_NAME}
         volumes:
           - ./configs/varnish/${CONFIGS_PROVIDER_VARNISH}:/etc/varnish
         environment:
           - CACHE_SIZE 64m
           - VARNISHD_PARAMS -p default_ttl=3600 -p default_grace=3600
           - VCL_CONFIG /etc/varnish/default.vcl
         networks:
           - docker_projectsubnetwork

networks:
       docker_projectsubnetwork:
         external: true